name: Build Lyfb Version

concurrency:
  group: build-eden-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build_android:
    runs-on: ubuntu-latest
    name: "Android (Lyfb)"
    env:
      TARGET: Lyfb
    steps:
      - name: Checkout Your Repository (including patch file)
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ccache glslang-tools libvulkan-dev python3-requests

      - name: Clone Latest Eden Source
        run: |
          git clone 'https://git.eden-emu.dev/eden-emu/eden.git' ./eden
          echo "Successfully cloned latest Eden source."

      - name: Apply Android Patch
        working-directory: ./eden
        run: |
          git apply ../.github/patches/android-fix.patch
          echo "Android patch applied successfully."

      - name: Restore ccache
        uses: actions/cache/restore@v4
        id: restore-ccache-cache
        with:
          path: ./.ccache
          key: ${{ runner.os }}-android-ccache-${{ env.TARGET }}-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-android-ccache-${{ env.TARGET }}-

      - name: Compile Eden Android
        env:
          CCACHE_DIR: ./.ccache
          CCACHE_COMPILERCHECK: content
          CCACHE_SLOPPINESS: time_macros
        run: |
          chmod +x ./eden-android.sh
          ./eden-android.sh

      - name: Save ccache
        if: ${{ github.ref_name == 'main' }}
        uses: actions/cache/save@v4
        with:
          path: ./.ccache
          key: ${{ steps.restore-ccache-cache.outputs.cache-primary-key }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: eden-android-${{ env.TARGET }}
          path: eden/src/android/artifacts/
